[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
[submodule "projectile"]
	path = projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "evil"]
	path = evil
	url = git@github.com:emacsmirror/evil.git
